@charset "utf-8";

* {
    box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}

*:focus {
    outline: none;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    height: 100%;
}

.main {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
    font-family: "微软雅黑", microsoft yahei;
    color: #333;

}

body,
div,
span,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
legend,
caption,
tbody,
tfoot,
thead,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
    padding: 0;
    margin: 0;
}

a {
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

img {
    border: 0;
    vertical-align: middle;
    
}

.title img{
    padding-right: 10px;
}


.title{
    margin-left: 10px;
}


svg:not(:root) {
    overflow: hidden;
}

hr {
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

.main {
    max-width: 1250px;
    margin: 0 50px;

}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 36px;
    text-align: center;
    padding-bottom: 15px;
}

.title p {
    font-size: 20px;
}

.w-imgText {
    position: relative;
    overflow: visible;
}

.w-imgText ul,
.w-imgText li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.w-imgText .item {
    position: relative;
}

.w-imgText .item>a {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.w-imgText .swiperBox {
    overflow: hidden;
    padding-right: 4%;
}

.w-imgText .imTB {
    overflow: hidden;
}

.w-imgText .img {
    width: 50%;
}

.w-imgText .img img {
    width: 100%; 
    height: 50vh;
    padding-left: 20px;
}

.w-imgText .textB {
    position: absolute;
    left: 50%;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 15px 4%;
    line-height: 1.7;
}

.w-imgText .textB .bg_x {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
}

.w-imgText .textB .text_x {
    position: relative;
    z-index: 1;
    max-height: 100%;
    /* overflow: hidden; */
    overflow: auto;
    
}

.w-imgText .textB .text_x .tt_h {
    font-size: 28px;
    color: #333;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 0.5em;
    
}

.w-imgText .textB .text_x p {
    font-size: 18px;
    color: #808080;
}

.w-imgText .igt_page {
    position: absolute;
    z-index: 10;
    left: auto;
    width: auto;
    right: 20px;
    top: -65px;
    font-size: 20px;
    color: #999;
}

.w-imgText .igt_page span.on {
    color: #222;
    font-size: 200%;
}

.igt_page_text {
    margin-bottom: 55px;
}

.igt_page_text ul,
.igt_page_text li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.igt_page_text li {
    float: left;
    text-align: center;
    overflow: hidden;
    opacity: 0.5;
    cursor: pointer;
}

.igt_page_text li:hover,
.igt_page_text li.on {
    opacity: 1;
}

.igt_page_text li .item_span {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 0 1em 0 0;
    position: relative;
}

.igt_page_text li .item_span:before,
.igt_page_text li .item_span:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 600px;
    top: 50%;
    background: #ede5e3;
}

.igt_page_text li .item_span:before {
    right: 100%;
}

.igt_page_text li .item_span:after {
    left: 100%;
}

.igt_page_text li .item_span>div {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
}

.igt_page_text li .item_span .num {
    width: 1em;
    color: #f4f6f9;
    visibility: hidden;
    font-size: 100px;
    /* font-size: 10vw; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.igt_page_text li .item_span .tit {
    margin-left: 0.5em;
    font-size: 16px;
}

.igt_page_text li:hover .item_span .num,
.igt_page_text li.on .item_span .num {
    visibility: visible;
}

.igt_page_text li .item_span .adore {
    display: block;
    width: 1em;
    height: 1em;
    background: #e0e0e0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
    left: 77px;
}

.igt_page_text li.on .item_span .adore {
    background: rgb(240, 148, 87);
}



.story_bg { /*背景色*/
    background-image: url(/img/background.svg);
    height: 100vh;
}

.star_bg{/*星星隱藏*/
    display: none!important;
}








@media (max-width:1200px) {
    .title {
        padding-left: 15px;
    }
    /* .w-imgText{
        padding-top: 50px;
    } */
    .w-imgText .img img {
        padding-left: 20px;
    }

   
}

@media (max-width:1050px) {

    .igt_page_text li .item_span .adore {
        left: 47px;
    }
    .star_bg{
        display: block!important;
    }

   


}

@media (max-width:768px) {
    .w-imgText .igt_page {
        display: none;
    }

    .w-imgText .swiperBox {
        padding-right: 0;
    }

    .w-imgText li {
        width: 100%;
    }

  
    .w-imgText .img {
        width: 100%;

    }

  /*修改*/
    .w-imgText{
        padding-top: 0px;
    }
    .w-imgText .img {
      text-align: center;
    }

    .w-imgText .img img {
        height: 28vh;
        width: 90vw;
        padding-left: 0px;
    }


    .w-imgText .textB {
        position: relative;
        left: 0;
        padding: 1.2em 4%;
    }

    .w-imgText .textB .text_x {
        max-height: 178px;
        top: 0;
        transform: none;
        -webkit-transform: none;
    }

    :root .w-imgText .textB .text_x {
        top: 0;
    }

    .igt_page_text {
        margin-top: 0;
        line-height: 1.3;
    }

    .igt_page_text li .item_span .num {
        font-size: 50px;
    }

    .igt_page_text li .item_span .adore {
        left: 34px;
    }


    .igt_page_text li .item_span {
        padding: 0 1em;
    }

    .igt_page_text li .item_span .tit {
        display: none;
    }

    .igt_page_text li .item_span .adore {
        left: 50%;
        margin-left: -0.5em;
    }

}

@media (max-width:480px) {
    .main {
        font-size: 4vw;
    }

    .title {
        font-size: 7vw;
    }

    .title p {
        font-size: 4vw;
    }

    .w-imgText .textB .text_x .tt_h {
        font-size: 6vw;
    }

    .igt_page_text li .item_span .num {
        font-size: 50px;
    }
}