* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  width: 100%;
  height: 100vh;
  color: black;
  background-image: url(../../img/market/marketBackground.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
footer{
  background-color: bisque;
}
.inter{
  width: 100%;
  height: 80%
}
.wrapper {
  margin: auto;
  width: 90%;
  height: 100%;
}

.cols {
  height: 100%;
  padding: 1%;
  /* display: flex; */
}
.col{
  max-width: 365px;
  max-height: 250px;
  width: 100%;
  height: 100%;
  position: absolute;
}
.container {
  height: 100%;
  transform-style: preserve-3d;
  margin: 0px;
  position: absolute;
}
.news{
  left: 4%;
}
.infor{
  top: 8%;
  right: 8%;
}
.about{
  top: 40%;
  left: 3%;
  
}
.community{
  top: 45%;
  right: 11%;
}
.time{
  top: 65%;
  left: 30%;
  
}

.bl {
  background-image: url(../../img/market/blackBlock.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.ye {
  background-image: url(../../img/market/yellowBlock.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.front {
  width: 365px;
  height: 250px;
  transition: transform 2s cubic-bezier(0.4, 0.2, 0.2, 1);
  backface-visibility: hidden;
  text-align: center;
  color: black;
  
}

/* 小卡正面標題大小 */
.moTitle {
  font-size: 30px;
}

.back {
  
  position: absolute;
  width: 768px;
  height: 50vh;
  background: linear-gradient(45deg, #cedce7 0%, #e2b221de 100%);
  font-size: 20px;
  backface-visibility: hidden;
  transition: transform 2s cubic-bezier(0.4, 0.2, 0.2, 1);
  /* z-index: 5; */
  
}

.newsBack {
  top: 10%;
  left: 105%;
}

.aboutBack {
  top: -105%;
  left: 120%;
}

.commuBack {
  top: -125%;
  left: -225%; 
}

.inforBack {
  top: 10%;
  left: -245%;
}

.timeBack {
  top: -200%;
  left: -15%;
} 

.back .inner p {
  display: none;
}

.container:hover .back .inner p {
  display: block;
  color: black;
}

.container:hover .front .inner {
  transition-delay: 2s;
  opacity: 0;
}

.container:hover .front,
.container:hover .back {
  transition: transform 2s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 2s cubic-bezier(0.4, 0.2, 0.2, 1),
}
.container:hover{
  /* background-color: red; */
  z-index: 100;
}


.inner {
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  /* z-index: 2; */
}

.inner span {
  font-size: 20px;
}

.container .back {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

.container .front {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.container:hover .back {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  z-index: 5;
}

.container:hover .front {
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
}

.front .inner p {
  position: relative;
  margin-bottom: 1.5rem;
}

.front .inner p:after {
  content: '';
  width: 6rem;
  height: 2px;
  position: absolute;
  background: rgb(255, 136, 1);
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}


.bg768 {
  width: 100%;
  height: 320px;
  background-size: cover;
  background-position: center center;
  background-image: url(../../img/market/logo+bg.svg);
  display: none;
}

@media (max-width: 855px) {
  body {
    width: 100%;
    height: 1024px;
    background-image: url(../../img/market/marketBackground_768.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg768{
    display: block;
  }
  .wrapper{
    margin: 0 0 0 0;
  }

  .front{
    background-image: url(../../img/market/blueBlock.svg);
    background-position: center center;
    background-repeat: no-repeat;
    width: 220px;
    height: 160px;
  }
  .cols{
    display: flex;
    flex-wrap: wrap;
    transform: translateX(4%);
    padding-top: 5%;
  }
  .col{
    margin: 0;
    width: 220px;
    height: 160px;
    top: 0;
    left: 0;
    position: relative;
  }
  .time{
    top: -28%;
  }
  .community{
    top: -28%;
    left: 15%;
  }
  .container{
    position: relative;
  }
  .back{
    top: 0%;
    left: 0%;
  }

  .newsBack {
    top: 10%;
    left: 105%;
  }
  
  .aboutBack {
    top: -105%;
    left: 120%;
  }
  
  .commuBack {
    top: -125%;
    left: -225%; 
  }
  
  .inforBack {
    top: 10%;
    left: -245%;
  }
  
  .timeBack {
    top: -200%;
    left: -15%;
  } 

}

/* @media screen and (max-width: 64rem) {
  .col {
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem) {
  .col {
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem) {
  .col {
    width: 100%;
    margin: 0 0 2rem 0;
  }
} */