* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  width: 100%;
  height: 100vh;
  color: black;
  background-image: url(../../img/market/marketBackground.svg);
  background-position: center center;
}

.wrapper {
  margin: auto;
  width: 90%;
}



.cols {
  padding: 1%;
  display: flex;
}

.container {
  transform-style: preserve-3d;
  margin: 0px;
  position: absolute;
}

.front {
  width: 365px;
  height: 250px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 2s cubic-bezier(0.4, 0.2, 0.2, 1);
  backface-visibility: hidden;
  text-align: center;
  color: black;
}

.bl {
  background-image: url(../../img/market/blackBlock.svg);
}

.ye {
  background-image: url(../../img/market/yellowBlock.svg);
}

/* 小卡正面標題大小 */
.moTitle {
  font-size: 30px;
}

.back {
  position: absolute;
  width: 768px;
  height: 50vh;
  background: linear-gradient(45deg, #cedce7 0%, #e2b221de 100%);
  font-size: 20px;
  backface-visibility: hidden;
  transition: transform 2s cubic-bezier(0.4, 0.2, 0.2, 1);
  z-index: 2;
}

.back .inner p {
  display: none;
}

.container:hover .back .inner p {
  display: block;
  color: black;
}

.container:hover .front .inner {
  transition-delay: 2s;
  opacity: 0;
}

.container:hover .front,
.container:hover .back {
  transition: transform 2s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 2s cubic-bezier(0.4, 0.2, 0.2, 1),
}


.inner {
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  z-index: 2;
}

.inner span {
  font-size: 20px;
}

.container .back {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

.container .front {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.container:hover .back {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.container:hover .front {
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
}

.front .inner p {
  position: relative;
  margin-bottom: 1.5rem;
}

.front .inner p:after {
  content: '';
  width: 6rem;
  height: 2px;
  position: absolute;
  background: rgb(255, 136, 1);
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.l1{
  top: %;
  left: 50%;
  /* transform: translate(3.5%, 5%); */
}

.about .l2{
  top: 50%;
  /* transform: translate(-0.5%, 20%); */
}

.l3{
  top: 75%;
}
.community {
  /* transform: translate(-5%, 15%); */
}

.newsBack {
  top: 10%;
  left: 50%;
}

.aboutBack {
  top: -120%;
  left: 55%;
}

.commuBack {
  top: -115%;
  left: -45%;
}

.inforBack {
  top: 15%;
  left: -50%;
}

.timeBack {
  top: -215%;
  left: -6.5%;
}

.bg768 {
  width: 100%;
  height: 320px;
  background-size: cover;
  background-position: center center;
  background-image: url(../../img/market/logo+bg.svg);
  display: none;
}

@media (max-width: 855px) {
  body {
    width: 100%;
    height: 1024px;
    background-image: url(../../img/market/marketBackground_768.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg768 {
    display: block;
  }

  .wrapper {
    padding-top: 5%;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .bl,
  .ye {
    background-image: url(../../img/market/blueBlock.svg);
    background-size: cover;
  }

  .right {
    display: flex;
    justify-content: flex-start;
  }

  .front {
    width: 220px;
    height: 160px;
  }

  .cols {
    padding: 0%;
    flex-direction: column;
  }

  .news {
    transform: translate(0, 0%);
  }

  .about {
    transform: translate(0%, 0%);
  }

  .community {
    transform: translate(50%, 20%);
  }

  .infor {
    transform: translate(50%, 20%);
  }

  .newsBack {
    top: -100%;
    left: 0%;
  }

  .aboutBack {
    top: -100%;
    left: -125%;
  }

  .commuBack {
    top: -220%;
    left: -180%;
  }

  .inforBack {
    top: -220%;
    left: -55%;
  }

  .timeBack {
    top: -50%;
    left: -250%;
  }
}

@media (max-width: 400px) {
  body {
    width: 100%;
    height: 100%;
    background-image: url(../../img/market/bg400.svg);
  }

  .bg768 {
    background-image: url(../../img/market/logo+ph.svg);
    height: 163px;
  }

  .wrapper {
    padding: 5% 0;
    margin: auto;
    width: 100%;
    display: block;
  }

  .front {
    width: 100%;
    height: 100px;
    margin: 2% 0;
  }

  .inner {
    padding: 0%;
  }

  .community {
    transform: translate(0%, 0%);
  }

  .infor {
    transform: translate(0%, 0%);
  }

  .back {
    width: 100%;
  }

  .newsBack {
    top: -100%;
    left: 0%;
  }

  .aboutBack {
    top: -330%;
    left: 0%;
  }

  .commuBack {
    top: -380%;
    left: 0%;
  }

  .inforBack {
    top: -180%;
    left: 0%;
  }

  .timeBack {
    top: -480%;
    left: 0%;
  }
}


/* @media screen and (max-width: 64rem) {
  .col {
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem) {
  .col {
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem) {
  .col {
    width: 100%;
    margin: 0 0 2rem 0;
  }
} */