.media {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 5%;
    display: block;
}

.mediaTitle {
    width: 100%;
    height: 10%;
    margin: 0 auto;
    text-align:center ;
}

#banner{
    width: 80%;
    height: 70%;
}

.mediaContainer{
    position: relative;
    width: 35%;
    height: 45%;
    margin: 0 3%;
}

.media-slide img {
    width: 100%;
    height: 100%;
    transition: transform 2s cubic-bezier(0.4, 0.2, 0.2, 1);
    backface-visibility: hidden;
}

.media-slide {
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 0 3%;
}
iframe{
    width:70%;
    height:80%;
}

.back {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgb(255, 181, 91) 0%, bisque 100%);
    backface-visibility: hidden;
    transition: transform 2s cubic-bezier(0.4, 0.2, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.mediaContainer:hover img,
.mediaContainer:hover .back {
    transition: transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform 1s cubic-bezier(0.4, 0.2, 0.2, 1),
}

.mediaContainer .back {
    transform: rotateY(180deg);
}

.mediaContainer img {
    transform: rotateY(0deg);
} 
.mediaContainer:hover .back {
    transform: rotateY(0deg);
}

.mediaContainer:hover img {
    transform: rotateY(-180deg);
}

@media (max-width:1510px) {
    #banner{
        max-width: 100%;
    }
    .media-slide{
        display: flex;
    }
}
@media (max-width:1200px) {
    .media-slide{
        display: flex;
    }
    .mediaContainer{
        margin: 1% 0.5%;
    }
}


