/* * {
    box-sizing: border-box;
} */
.media{
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 105px;
}
.title {
    width: 400px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto;
}

#banner {
    margin-top: 20px;
}