* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a,
img {
    border: 0;
}

/* body {
    background: url(/img/blog7year_videobg.png);
    font: 12px/180% Arial, Helvetica, sans-serif, "新宋体";
} */


/* actGotop */

.actGotop {
    position: fixed;
    _position: absolute;
    bottom: 100px;
    right: -50px;
    width: 150px;
    height: 120px;
    display: none;
    z-index: 1;
}

.actGotop a,
.actGotop a:link {
    width: 150px;
    height: 195px;
    display: inline-block;
    background: url(/img/東郁/blog7year_gotop.png) no-repeat;
    _background: url(image/blog7year_gotop.gif) no-repeat;
    outline: none;
}

.actGotop a:hover {
    background: url(/img/東郁/blog7year_gotopd.gif) no-repeat;
    outline: none;
}
